.topbar{
  width: 100%;
  position: sticky;
  height: auto;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.topbar-wrapper{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  justify-content: space-between;
}
.topLeft{
  font-size: 3rem;
}
.topRight{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.topBarIconContainer{
  position: relative;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topBarIconContainer svg {
    font-size: 2.5rem;
}

.topBarIconBadge{
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topBarImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}