a {
    color: inherit !important;
}

.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251,251,255);
    position: sticky;
}

.sidebar-wrapper{
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;;
}
.sidebar-menu{

}
.sidebar-title{
  font-size: 1.5rem;
  color: rgb(187,186,186);
}
.sidebar-list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding: 5px;
}
.sidebar-listitem{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    transition: all 300ms;
}
.sidebar-icon{
    margin-right: .5rem;
    font-size: 1.9rem !important;
}

.sidebar-listitem.active,.sidebar-listitem.active:hover{
    background-color: rgb(240, 240, 255);
}